{% extends 'base.html' %}
{% load static %}

{% block body %}
    <h1 class="text-center">EDIT</h1>
    {% if article.image %}
        <img src="{{ article.image.url }}" alt="{{article.image}}">
    {% else %}
        <img src="{% static 'articles/images/noimage.png' %}" alt="noimage">
    {% endif %}
    <form action="/articles/{{ article.pk }}/update/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="title">Title</label><br>
        <input type="text" id="title" name="title" value="{{ article.title }}"><br>
        <label for="content">Content</label><br>
        <textarea name="content" id="content" cols="30" rows="5">{{ article.content }}</textarea><br>
        <label for="image">Image</label>
        <input type="file" name="image" id="image" accept="image/*">
        <input type="submit" value="글 수정">
    </form>
    <a href="/articles/" target="_blank">[메인 페이지로 돌아가기]</a>
{% endblock%}